*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #242B2E;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  position: fixed;
  top: 50px;
  right: 30%;
  left: 30%;
}

.items {
  position: fixed;
  top: 70px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
}

.fa-icon{
  margin-left: 8px;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  text-decoration: line-through;
}
